# {{ ansible_managed }}
# ==========================

[mysqld]
user = mysql
port = 3306
basedir    = /usr
tmpdir   = /tmp
lc-messages-dir  = /usr/share/mysql
#bind-address		= 127.0.0.1,{% if hostvars[inventory_hostname].mono_server is not defined %}{% for _host in groups["all"] %}{{ hostvars[_host].ansible_host }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}

socket = {{ socket_dir }}
pid-file = /var/run/mysqld/mysqld.pid
datadir = /var/lib/mysql
log-error = /var/log/mysql/error.log

skip-external-locking

# Recommended in standard MySQL setup
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION


# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

# Sinon probleme avec Ansible pour la connexion
default-authentication-plugin=mysql_native_password

{% if hostvars[inventory_hostname].mono_server is defined %}# {% endif %}server-id		=  {{ server_id }}

log_bin			= /var/log/mysql/mysql-bin.log
log-bin-index = /var/log/mysql/mysql-bin.index

{% if hostvars[inventory_hostname].mysql_slave_of is not defined %}
binlog_format = row
{% endif %}
{% if hostvars[inventory_hostname].mysql_slave_of is defined %}
read-only = on
{% endif %}
relay-log = /var/log/mysql/relay.log
relay-log-info-file = /var/log/mysql/relay-log.info
relay-log-index = /var/log/mysql/relay-log.index

gtid-mode=ON
enforce-gtid-consistency
log-slave-updates
session_track_gtids=ALL_GTIDS
master_info_repository=TABLE
replicate-wild-ignore-table = orchestrator.%
replicate-wild-ignore-table = mysql.%
binlog-ignore-db = orchestrator
binlog-ignore-db = mysql

### A verifier ###
report_host={{ ansible_hostname }}
report_user=replic_user
report_password={{ rep_passwd }}



#
# * Fine Tuning
#
key_buffer_size     	= 1024M
max_allowed_packet  	= 256M
thread_stack		= 192K
thread_cache_size       = 8

# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam_recover_options  = BACKUP
#max_connections        = 100
table_definition_cache  = 6000
open_files_limit    	= 10000
tmp_table_size      	= 1024M
max_heap_table_size 	= 1024M
slave_net_timeout   	= 300

# * Logging and Replication

general_log_file        = /var/log/mysql/mysql.log
general_log             = 1
#
# Error log - should be very few entries.
#
# Enable the slow query log to see queries with especially long duration
slow_query_log_file	= /var/log/mysql/mysql-slow.log
long_query_time = 0.01
slow_query_log = 1

expire_logs_days	= 10
max_binlog_size   = 100M
{% if hostvars[inventory_hostname].mono_server is defined %}# {% endif %}replicate-same-server-id = 0
{% if hostvars[inventory_hostname].mysql_slave_of is defined %}log-slave-updates{% endif %}


# * Character sets

character-set-server  = latin1
collation-server      = latin1_swedish_ci

##### A mettre avec l'autre plugin de mot de passe RHEL #####

#validate_password.length=4
#validate_password.mixed_case_count=0
#validate_password.special_char_count=0
#validate_password.number_count=0
#validate_password.policy=LOW